.ColumnLayout_Comment {
    display: flex;
    flex-direction: row;
    background: #ffb7b9;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
}

.ColumnLayout_Comment > textarea {
    flex: 1;
    min-height: 100px;
    font-size: 20px;
}